<%- include('../admin/header') %>

<%- include('../admin/aside') %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>  <i class="nav-icon fas fa-th"></i> Edit category</h4>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <form action="/update-category<%= cate.id %>" method="post">
            <div class="card-body">
              <div class="mb-3 mt-3">
                <input type="text" class="form-control" value="<%= cate.name %>" placeholder="Enter name" name="name">
              </div>
              <div class="form-check mb-3">
                <label for="">Chose status</label>
                <div class="radio">
                  <label>
                    <input type="radio" name="status" value="1"<%= cate.status == 1 ? 'checked' : '' %> >
                    Show
                  </label>
                  <label>
                    <input type="radio" name="status" value="0"<%= cate.status == 0 ? 'checked' : '' %>  >
                    Hidden
                  </label>
                </div>
              </div>
            </div>
            <div class="" style="display:flex;justify-content: space-between; margin:14px 20px">
              <div class="item">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Update</button>
              </div>
              <div class="item">
                <a href="/list-category" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> back</a>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
</div>
<!-- /.card -->

</section>
</div>
<%- include('../admin/footer') %>

