<%- include('../admin/header') %>

<%- include('../admin/aside') %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>  <i class="nav-icon fas fa-th"></i> Edit product</h4>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="col-md-4">
          <form action="/edit-product<%= pro.id %>" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <div class="mb-3 mt-3">
                <input type="text" class="form-control" value="<%= pro.name %>" placeholder="Enter name" name="name">
              </div>
              <div class="mb-3 mt-3">
                <input type="file" class="form-control"  name="image">
                <img src="/images/<%= pro.image %>" value="<%= pro.image %>" width="60px" alt="">
              </div>
              <div class="mb-3 mt-3">
                <input type="text" class="form-control" value="<%= pro.price %>" placeholder="Enter price" name="price">
              </div>
              <div class="mb-3 mt-3">
                <input type="text" class="form-control" value="<%= pro.sale_price %>" placeholder="Enter sale_price" name="sale_price">
              </div>
              <div class="mb-3 mt-3">
                <input type="text" class="form-control" value="<%= pro.content %>" placeholder="Enter content" name="content">
              </div>
              <div class="mb-3 mt-3">
                <input type="text" class="form-control" value="<%= pro.category_id %>" placeholder="Enter category_id" name="category_id">
              </div>
              <div class="form-check">
                <label for="">Chose status</label>
                <div class="radio">
                  <label>
                    <input type="radio" name="status" value="1" <%= pro.status == 1 ? 'checked' : '' %> >
                    Show
                  </label>
                  <label>
                    <input type="radio" name="status" value="0" <%= pro.status == 0 ? 'checked' : '' %> >
                    Hidden
                  </label>
                </div>
              </div>
            </div>
            <div class="" style="display: flex; justify-content: space-between; margin: 14px 20px;">
              <div class="item">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
              </div>
              <div class="item">
                <a href="/list-product" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> back</a>
              </div>
            </div>
          </form>
        </div>

    </div>
</div>
<!-- /.card -->

</section>
</div>
<%- include('../admin/footer') %>